@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/root";

@import "button";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Plus+Jakarta+Sans:wght@200..800&display=swap');

$panel-background-color: #eee;
$well-background-color: darken($panel-background-color, 30%);

body {
  background-image: url("../images/linen.png");
  font-family: "Plus Jakarta Sans", sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
}

.panel {
  background-color: $panel-background-color;
  align-self: center;
  width: 500px;
  border: 1px solid #fff;
  outline: 1px solid #444;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;

  .header {
    position: relative;
    background-color: darken($panel-background-color, 20%);

    &:after {
      // Glassy effect
      content: "";
      background-image: linear-gradient(
                      to bottom,
                      rgba($white, 0.9) 0%,
                      rgba($white, 0.5) 50%,
                      rgba(white, 0.14) 50.1%,
                      transparent 100%
      );

      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    user-select: none;

    span {
      font-size: 6em;
      font-weight: 500;
      color: #121212;
      background-image: linear-gradient(to top, #040404, #121212);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .bigger {
      font-size: 7em;
      font-weight: 600;
    }
  }
}

.interval-selector {
  background-color: darken($panel-background-color, 8%);
  padding: map-get($spacers, 3);

  .well {
    background-color: $well-background-color;
    border-radius: $border-radius-sm;
    box-shadow: inset 1px 1px 2px rgba($black, .35);
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    padding: 1px;

    .selectable-button {
      padding: map-get($spacers, 3);
      text-align: center;
      border-radius: $border-radius-sm;
      box-sizing: border-box;
      border: 1px solid transparent;
      transition: .2s ease-in;
      cursor: pointer;

      &:hover {
        border: 1px solid darken($well-background-color, 10%);
      }
    }

    input[type="checkbox"]:checked + .selectable-button {
      background-color: $panel-background-color;
      border: 1px solid #fff;
      box-shadow: $box-shadow-sm;
      color: $blue-600;
      font-weight: 500;
    }
  }
}

@keyframes active {
  from {
    box-shadow: $button-shadow-focus;
  }
  to {
    box-shadow: $button-shadow-hover;
  }
}
